{
    "body": {
        "version": 1,
        "type": "doc",
        "content": [
            {
                "type": "paragraph",
                "content": [
                    {
                        "type": "text",
                        "text": "Hi "
                    },
                    {
                        "type": "mention",
                        "attrs": {
                            "id": "{{ jira_reporter_id }}"
                        }
                    },
                    {
                        "type": "text",
                        "text": " ,"
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": [
                    {
                        "type": "text",
                        "text": "Your Proxmox request was successfully provisioned"
                    },
                    {
                        "type": "text",
                        "text": "."
                    },
                    {
                        "type": "hardBreak"
                    },
                    {
                        "type": "text",
                        "text": "Please check your email to see the ssh credential."
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": [
                    {
                        "type": "text",
                        "text": "If you have any trouble, please comment on this ticket."
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": [
                    {
                        "type": "text",
                        "text": "Best,"
                    },
                    {
                        "type": "hardBreak"
                    },
                    {
                        "type": "text",
                        "text": "AgileOps DevOps Team."
                    }
                ]
            }
        ]
    }
}
